.loginForm {
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: white; 
}
.login-card {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center; 
    background: #151520;
    border: 1px solid #2a2a35;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 
        0 20px 40px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.05);
}
.actionTitle {
    text-decoration: underline;
    cursor: pointer;
    color: deepskyblue;
}
.input {
    height: 45px;
    width: 350px;
    padding-left: 25px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    box-shadow: 0px 0px 20px -18px;
    margin-bottom: 10px;
}

.input:focus {
    border: 2px solid grey;
}
.password-input {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
label {
    font-size: 0.7rem;
}
