.solving {
    display: flex; 
}
.ide {
    width: 50%; 
}
.challenges-prompts {
}
.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
}
.console {
    background: grey;
    padding: 10px;
    border-radius: 10px;
}
