.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-content: center;
    width: 50%;
    margin-top: 5rem;
}
.label {
      color: #fff;  
      font-weight: bold;
      margin-bottom: 6px;
}
span {
    color: red;
}
#lobbyCodeField, #usernameField {
    background: transparent;
    border: 1px solid #ccc; 
    border-radius: 6px;  
    padding: 10px;
    color: #fff;           
    font-size: 16px;
    outline: none;
    margin-bottom: 3rem;
}      
Button {
    align-self: center;
}
